.arrivals .box {
  display: flex;
  padding: 10px;
  align-items: center;
  transition: 0.5s;
}

.arrivals .box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.arrivals a {
  text-decoration: none;
}

.arrivals .box .image img {
  height: 12rem;
}

.arrivals .box .content h3 {
  font-size: 22px;
  text-decoration: none;
  color: var(--black);
}

.arrivals .box .content .price {
  text-decoration: none;
  font-size: 18px;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.arrivals .box .content .price span {
  font-size: 15px;
  color: var(--light-color);
  text-decoration: line-through;
}

.arrivals .box .content .stars i {
  font-size: 15px;
  color: var(--green);
}
