.invoice {
  width: 500px;
  margin: auto;
}

.deliveryBtn,
.manageInventoryBtn {
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--green);
  border: none;
  color: #fff;
  padding: 8px 20px;
  transition: 0.5s;
}

.deliveryBtn:hover,
.manageInventoryBtn:hover {
  color: #fff;
  background-color: var(--dark-green);
}

.restock {
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.restock input {
  width: 50%;
  height: 50%;
}

.restock .restockBtn {
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--green);
  border: none;
  color: #fff;
  padding: 8px 20px;
  margin-top: 10px;
  transition: 0.5s;
}

.restock .restockBtn {
  color: #fff;
  background-color: var(--dark-green);
}
